@import "~bootstrap/scss/bootstrap.scss";

.maindiv{
    margin: auto;
    width: 300px;
    background-color: pink;
}

input{
    width: 100%;
    height: 65px;
    font-size: x-large;
}

ul{
     list-style-type: none;
}
